*{
    margin:0;
    padding:0;
}
body{
    width:300px;
    text-align: center;
    margin:auto;
    margin-top:5rem;
}
h2{
    font-size: 1.2rem;
    margin-block:1rem;
}
p{
    margin-top:1rem;
}
#badPassword{
    color:red;
}
#returnedPassword{
    color:green;
}